/* SplashPage.css */
.splash-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e0f7fa; /* Light cyan background */
    height: 100vh;
    text-align: center;
    font-family: 'Arial', sans-serif;
  }
  
  .splash-image {
    width: 50%; /* Adjust this percentage to control the image size */
    max-width: 400px; /* Ensures the image won't exceed 400px in width */
    height: auto; /* Keeps the aspect ratio of the image */
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 3rem;
    color: #00796b;
    margin: 0;
    padding: 0;
  }
  
  p {
    font-size: 1.2rem;
    color: #004d40;
    margin-top: 10px;
    font-weight: 300;
  }
  